! Molokai theme
! See: https://gist.github.com/vreon/845878
URxvt*background: #1c1c1c
URxvt*foreground: #d0d0d0
URxvt*cursorColor: #d0d0d0
URxvt*color0: #101010
URxvt*color1: #960050
URxvt*color2: #66aa11
URxvt*color3: #c47f2c
URxvt*color4: #30309b
URxvt*color5: #7e40a5
URxvt*color6: #3579a8
URxvt*color7: #9999aa
URxvt*color8: #303030
URxvt*color9: #ff0090
URxvt*color10: #80ff00
URxvt*color11: #ffba68
URxvt*color12: #5f5fee
URxvt*color13: #bb88dd
URxvt*color14: #4eb4fa
URxvt*color15: #d0d0d0

! Transparency settings
! Set both to true and don't touch *shading
URxvt*inheritPixmap: false
URxvt*transparent: false
URxvt*shading: 100

! Cursor settings
URxvt*cursorBlink: 1

! Bell
URxvt*visualBell: true 

! Size
URxvt*geometry: 120x84

! Sets font to Migu1M
URxvt.font: xft:Migu1M:size=16

! Disables the scrollbar
URxvt.scrollBar: false

! Enables alt key
URxvt*meta8: true

! Disable Ctrl+Shift
URxvt.iso14755: false
URxvt.iso14755_52: false

! Extensions
URxvt.perl-ext-common: default,matcher,tabbed,font-size
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.keysym.C-equal: font-size:increase
